.aboutDiv {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  gap: 20px;
}

.description {
  margin-left: 150px;
  margin-top: 80px;
  text-align: center;
}

.logo {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  margin: 70px 0px 0px 60px;
}

.heading {
  color: #545fc4;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  font-size: 40px;
}

/* .title {
  color: #545fc4;
  text-align: left;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
} */

.para {
  font-family: "Roboto Slab", serif;
  color: rgb(232, 225, 225);
  font-size: 22px;
  line-height: 50px;
  margin-top: 50px;
  text-align: left;
  /* font-weight: lighter; */
}

@media (min-width: 320px) and (max-width: 480px) {
  .aboutDiv {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 235%;
  }
  .description {
    text-align: center;
    margin-left: 0px;
    padding: 0px 100px;
  }
  .heading {
    font-size: 5rem;
  }
  .para {
    font-size: 3rem;
    line-height: 90px;
    text-align: center;
  }
  .logo {
    margin: auto;
    height: 800px;
    width: 800px;
  }
}
