.container {
  height: 600px;
}

.heading {
  color: #545fc4;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.main {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contactDiv {
  height: 400px;
}

.contactDiv > div {
  margin-left: 100px;
}

.mailImg {
  height: 400px;
}

.mailImg img {
  width: 100%;
  height: 100%;
}

.title {
  color: rgb(235, 231, 231);
  font-size: 48px;
  line-height: 20px;
  font-weight: lighter;
}
.contactDiv p {
  color: rgb(155, 157, 159);
}

.mail-icon {
  width: 35px;
  height: 35px;
  color: red;
}

.mail-icon ~ a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.links div {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.icons {
  height: 30px;
  width: 30px;
  color: #545fc4;
}

.links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 235%;
  }
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1100px);
  }
  .heading {
    font-size: 3rem;
  }
  .title {
    font-size: 6rem;
  }
  .contactDiv p {
    font-size: 3rem;
    line-height: 80px;
  }
  .links a {
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 10px;
  }
  .icons {
    height: 100px;
    width: 100px;
  }
  .mailImg {
    height: 600px;
    margin-bottom: 200px;
  }
}
